/*
// CSS for HipHop Contra a Fome
// Synapse Brasil - https://synapsebrasil.com.br
// Author - Bruno Rodrigues
// Version 1.0.0
*/

@font-face {
    font-family: 'Bowlby One SC';
    src: url('../fonts/BowlbyOneSC-Regular.woff2') format('woff2'),
        url('../fonts/BowlbyOneSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---------------
// Main Style
---------------*/

body {margin: 0; padding: 0; color: #333;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {color: #333;}
a, input, button, form {outline: none;}
a {color: #fb7a02; font-weight: 900;}
a:hover, a:focus {color: rgb(44, 11, 88);;}

/*---------------
// Head Style
---------------*/
#head {
    background: url(../imgs/header-top.png) center top;
    background-size: contain;
    background-repeat: no-repeat;
}    
#head img {
    margin: 10% auto 5%;
}
/*---------------
// Counter Style
---------------*/

#counter {
    background: url(../imgs/back_grunge-purple.png) center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1200px;
}
#counter .info-data {
    font-family: 'Bowlby One SC';
    font-size: 2.7rem;
    line-height: 1.8rem;
}
#counter .info-data span {
    color: #666
}
#counter .info-local {
    font-family: 'Roboto', sans-serif; 
    font-weight: 900; 
    text-transform: uppercase; 
    font-size: 1.8rem; 
    color: #fb7a02; 
}

#countdown h2 {
    font-family: 'Bowlby One SC';
    font-size: 2.7rem;
    line-height: 3.8rem;
    color: white;
    padding: 2.8rem 0px;
}
#countdown ul {margin-top: 50px; padding: 0;}
#countdown li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 1.6rem;
    line-height: 3.5rem;
    list-style-type: none;
    padding: 1.5rem;
    color: white;
    text-shadow: #333 1px 1px 10px;
    text-transform: uppercase;

  }
  
  #countdown li span {
    display: block;
    font-size: 4rem;
    letter-spacing: 1.5px;
    font-family: 'Bowlby One SC';
  }

/*---------------
// Artists Crew Style
---------------*/

#artist-crew {
    margin: 0;
    padding-top: 100px;
}

#artist-crew img {
    margin: 50px auto 0;
}

.artist-crew-box {position: relative;
    background-repeat: no-repeat;
    background-size: contain;}


.box-alimento {
    justify-content: center;
    text-align: center;
    background-color: #fb7a02;
    padding: 10px 30px 5px;
    border-radius: 25px;
    position: absolute;
    bottom: -30px;
    width: 100%;
}

.box-alimento h2 {
    font-family: 'Bowlby One SC';
    font-size: 1.6rem;
    color: white;
}


/*---------------
// Agenda Style
---------------*/
    #agenda {padding: 100px 0 0;
    background: url(../imgs/backgroud-footer2.png) center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

    #agenda h2 {
        margin: 20px 0;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }

    .destaques ul {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .destaques ul li {
        display: inline-block;
        list-style-type: none;
        position: relative;
    }

    .destaques .destaque01 span {
        font-size: 1.6rem;
        position: absolute;
        bottom: 90px;
        left: 40px;
        font-family: 'Bowlby One SC';
        width: 200px;
        line-height: 1.4rem;
        color: #fb7a02;
    }

    .destaques .destaque02 span {
        font-size: 2rem;
        position: absolute;
        bottom: 40px;
        left: 70px;
        font-family: 'Bowlby One SC';
        width: 200px;
        line-height: 1.8rem;
        color: #fb7a02;
    }

    .destaques .destaque03 span {
        font-size: 2rem;
        position: absolute;
        bottom: 30px;
        left: 0;
        font-family: 'Bowlby One SC';
        width: 200px;
        line-height: 1.8rem;
        color: #fb7a02;
    }

    .cronograma {padding: 40px 0 180px;}
    .box-cronograma:nth-child(1) {background-color: #239890; 
    color: white; padding: 0; border-radius: 8px;}
    .box-cronograma:nth-child(2) {background-color: rgb(44,11,88); 
    color: white; padding: 0; border-radius: 8px;}
    .box-cronograma h3 {color: white;  font-family: 'Bowlby One SC'; font-size: 2rem; padding: 40px 20px 20px;}
    .box-cronograma h3 span {font-family: 'Roboto', sans-serif; font-weight: 200; border-bottom: solid 2px #fff; font-size: 1.6rem;}
    .box-cronograma p {padding: 0 40px;}
    

/*---------------
// Apoiadores Style
---------------*/
        .apoiadores {position: relative; min-height: 120px;}
        .apoiadores-footer {
            text-align: center;
            position: absolute;
            justify-content: center;
            bottom: 0;
            width: 100%;
            background-color: white;
        }
        .apoiadores ul {
            text-align: center;
            padding: 0;
            background-color: white;
            border-radius: 15px;
            width: 767px;
            margin: 0 auto 30px;
        }
        .apoiadores ul li {display: inline-block;
            list-style-type: none; padding: 1rem 0; }
        .apoiadores ul li img{ width: 70%;}

/*---------------
// Footer Style
---------------*/

    footer {
        background: rgb(44, 11, 88);
        background: linear-gradient(41deg, rgba(44,11,88,1) 0%, rgba(49,14,86,1) 24%, rgba(254,123,0,1) 100%);
        padding: 10px 0;
        color: white;
    }
/*---------------
// Responsive Style
---------------*/

@media (max-width: 991px) {
    #countdown li {
        font-size: 1rem;
        line-height: 2.5rem;
        padding: 1rem;
    }
}

@media (max-width: 767px) {

    #head {background-size: cover;}
    #head img {width: 70%; margin: 40% auto 0;}
    #artist-crew {padding-top: 50px;}
    #artist-crew img {
        width: 375px;
        margin: 50px auto 0;
    }
    #counter {background: transparent; width: 100%;}
    #counter .info-data {line-height: 2.2rem;}
    #countdown {
    background: url(../imgs/back_grunge-purple.png) center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    padding: 1px 0 0;
}

    #countdown ul {margin-top:30px;}
    #countdown li {padding: 0.6rem; font-size: 1rem; line-height: 2rem;}
    #countdown li span {font-size: 3rem;} 

    .box-alimento {
        padding: 5px;
        border-radius: 10px;
        bottom: -60px;
        width: 90%;
    }
    #agenda h2 {margin: 20px 0 0;}
    .cronograma {padding: 40px 0;}
    .box-cronograma {margin: 20px 0;}
    .apoiadores {position: relative; min-height: 280px;}
    footer {padding: 10px 40px; font-size: 80%;}
}

@media (max-width: 320px) {
    #countdown h2 {
        font-family: 'Bowlby One SC';
        font-size: 2rem;
        line-height: 2rem;
        padding: 2rem 0px;
    }
    #countdown li {font-size: 0.5rem;}
    #countdown li span {font-size: 2.8rem;}
    .box-cronograma {margin: 20px 0;}
    footer {padding: 10px 40px; font-size: 80%;}
}